{% extends "templates/loginlayout.twig" %}
{% block title %}LMS{% endblock %}
{% block body %}
<section class="login-clean" style="background: var(--bs-gray)">
   <form method="post" action="/">
      <h2 class="visually-hidden">Login Form</h2>
      <div class="illustration">
         <i class="icon ion-locked text-dark"></i>
      </div>
      <div class="mb-3">
         <input
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
            required=""
            />
      </div>
      <div class="mb-3">
         <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
            minlength="6"
            required=""
            />
      </div>
      <div class="mb-3">
         <button class="btn btn-primary d-block w-100" type="submit">
         Log In
         </button>
   </form>
   </div>
</section>
{% endblock %}